<!DOCTYPE html>
<html>
  <head>
    <title>Realtime with Socket.io</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.jsdelivr.net/gh/mathusummut/confetti.js/confetti.min.js"></script>
  </head>
  <body>
    <header><span>realtime-circles</span>
    <button onclick= "confetti.start(500)" >clear</button></header>
    <section id="circles"></section>
    <footer><ul id="players"></ul></footer>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/app.js"></script>
  
  </body>
</html>